<html>
  <head></head>
  <body>
    <table>
    <%length = size-1%>
    <%while length >= 0%>\
      <%length = length-1%>
    <% end %>
  <tr>
    <th id="and" scope="col">AND</th>
    <th id="or" scope="col">OR</th>
    <th id="nand" scope="col">NAND</th>
    <th id="nor" scope="col">NOR</th>
    <th id="xor" scope="col">XOR</th>
    <th id="single" scope="col">SINGLE</th>
  </tr>
  <%# Get truth table value permutations list %>
  <% values = display_t_f %>

  <%# Display truth table values %>
  <% row_index = (2**size)-1%>
  <%while row_index >= 0%>
    <tr>
      <% column_index=size-1%>
      <%while column_index >= 0%>
        <td><%= values[row_index].to_a[column_index] %></td>
        <% column_index-=1%>
      <%end%>
      <%# Complete computational logic in backend %>
      <td><%=comp_and(values[row_index].to_a)%></td>
      <td><%=comp_or(values[row_index].to_a)%></td>
      <td><%=comp_nand(values[row_index].to_a)%></td>
      <td><%=comp_nor(values[row_index].to_a)%></td>
      <td><%=comp_xor(values[row_index].to_a)%></td>
      <td><%=comp_single(values[row_index].to_a)%></td>
    </tr>
    <% row_index-=1%>
  <%end%>
</table>
<a href='/'>Main Page</a>
</body>
</html>